.Feeds {
    &__list {
        padding: 16px;

        li {
            margin: 0px;
            list-style: none;
        }
    }
    &__url {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 8px;

        img {
            max-width: 100%;
        }

        .Feeds__info {
            flex: 1;
            padding: 8px 16px;
            word-wrap: break-word;
            overflow: hidden;

            &__actions {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
            }
        }

        &:nth-child(odd) {
            background-color: #fafafa;
        }
    }
}